.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    height: 60px;
    background-color: #2c3e50;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-title{
    font-size: 1.25em;
}

.navbar-side-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.navbar-side-icons > a:hover, .log-out-button:hover{
    color: yellow;
    background-color: transparent;
}

.navbar-side-icons > a.active{
    color: yellow
}

.log-out-button{
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
}