{% extends "base.html" %}
{% load static %}

{% block page_title %}Home{% endblock  %}

{% block page_styles %}
   <link rel="stylesheet" href="{% static "blog/css/home.css" %}">
   <link rel="stylesheet" href="{% static "blog/css/post.css" %}">
{% endblock  %}

{% block page_body %}
    {% include "include/navbar.html" %}
    <div class="header">
        <div>
            <div class="header-image-title">
                <div class="header-image"></div>
                <div class="header-title">
                    <span>CHANDRAHAS'</span>
                    <span>BLOG</span>
                </div>
            </div>
            <div class="header-sub-title">
                Hi, I am Chandrahas, I love to blog tech and world.
            </div>
        </div>
    </div>
    <div class="posts-container">
        <p class="posts-title">My latest thoughts</p>
        <div class="all-posts">
            {% for i in posts %}
                <a href="{% url "post" i.slug %}" class="post">
                    <img src="{% static "images/"|add:i.image_name %}" alt="" class="post-round-image">
                    <div class="post-title">
                        {{i.title}}
                    </div>
                    <div class="post-description">
                        {{i.excerpt}}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock  %}