{% extends "base.html" %}
{% load static %}

{% block page_title %}Home{% endblock  %}

{% block page_styles %}
   <link rel="stylesheet" href="{% static "blog/css/home.css" %}">
   <link rel="stylesheet" href="{% static "blog/css/post.css" %}">
{% endblock  %}

{% block page_body %}
    {% include "include/navbar.html" %}
    <div class="header">
        <span>BLOG POSTS</span>
    </div>
    <div class="posts-container">
        <p class="posts-title">My latest thoughts</p>
        {% if user.is_authenticated %}
        <div class="all-posts">
            {% for i in posts %}
                <a href="{% url "post" i.slug %}" class="post">
                    <img src="{{ i.image.url }}" alt="" class="post-round-image">
                    <div class="post-title">
                        {{i.title}}
                    </div>
                    <div class="post-description">
                        {{i.excerpt}}
                    </div>
                </a>
            {% endfor %}
        </div>
        {% else %}
        <div class="header-no-auth">You are not logged in to view this section. <a href=" {% url "login" %} " class="login">Login here</a></div>
        {% endif %}
    </div>
{% endblock  %}