{% extends "base.html" %}
{% load static %}

{% block page_title %}{{post.title}}{% endblock  %}

{% block page_styles %}
   <link rel="stylesheet" href="{% static "blog/css/navbar.css" %}">
   <link rel="stylesheet" href="{% static "blog/css/post.css" %}">
   <link rel="stylesheet" href="{% static "blog/css/single_post.css" %}">
{% endblock  %}

{% block page_body %}
    {% include "include/navbar.html" %}
    <div class="single-post-wrapper">
        <div class="single-post-title-container">
            <div class="single-post-title">{{post.title}}</div>
            <div class="single-post-image-container">
                <div class="single-post-image" style="background-image:url('{% static "images/"|add:post.image %}')"></div>
                <div><i>By Chandrahas</i></div>
                <div>Last updated on <b>{{post.updatedAt}}</b></div>
            </div>        
        </div>
        <div class="single-post-description">
            {{post.description}}
        </div>
    </div>
{% endblock  %}