{% extends "base.html" %}
{% load static %}

{% block page_title %}{{post.title}}{% endblock  %}

{% block page_styles %}
   <link rel="stylesheet" href="{% static "blog/css/navbar.css" %}">
   <link rel="stylesheet" href="{% static "blog/css/post.css" %}">
   <link rel="stylesheet" href="{% static "blog/css/single_post.css" %}">
{% endblock  %}

{% block page_body %}
    {% include "include/navbar.html" %}
    <div class="single-post-wrapper">
        <div class="single-post-title-container">
            <div class="single-post-title">
                {{post.title}}
                <div class="tag-container">
                    {% for tag in post.tags.all %}
                        <div class="tag">{{tag}}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="single-post-image-container">
                <div class="single-post-image" style="background-image:url('{% static "images/"|add:post.image_name %}')"></div>
                <div><i>By {{post.author.full_name}}</i></div>
                <div>Last updated on <b>{{post.updated_at}}</b></div>
            </div>        
        </div>
        <div class="single-post-description">
            {{post.content}}
        </div>
    </div>
{% endblock  %}