{% include "base.html" %}
{% load static %}

{% block page_styles %}
   <link rel="stylesheet" href="{% static "account/css/auth.css" %}">
   <link rel="stylesheet" href="{% static "css/form.css" %}">
{% endblock  %}

 {% block page_body %}
  {% include "include/navbar.html" with active_page="Login"%}
    <div class="auth-form-container">
        <img class="auth-image" src=" {% static "images/blog.svg" %} " alt="" >
        <form method="POST" class="form-container auth-form" action="" novalidate>
            {% csrf_token %}
            <div class="auth-title">Register</div>
            {% for field in form %}
                <div class="field {% if field.errors %} errorField {% endif %}">
                    {{field.label_tag}}
                    {{field}}
                    {{field.errors}}
                </div>             
            {% endfor %}
            <div class="non-field-error">
                {{ form.non_field_errors }}
            </div>
            <button type="submit">Register</button>
            <div class="auth-link-container">Already registered? <a href="{% url "login" %}">Login here</a></div>
        </form>
    </div>
 {% endblock  %} 