{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block page_title  %}{% endblock  %}</title> 
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" href="{% static "css/navbar.css" %}"/>
    <script src="https://kit.fontawesome.com/7eddd715b7.js" crossorigin="anonymous"></script>
    {% block page_styles %}{% endblock  %}
</head>
<body>
    <div class="content">
        {% block page_body %}{% endblock  %} 
    </div>
</body>
</html>
